form{
    margin: 0 auto;
    width: 700px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
form select{
    margin-bottom: 1em;
    padding: 0.5em;
    border-radius: 0.3em;
    border: 1px solid #CCC;
}
form input{
    margin-bottom: 1em;
    padding: 0.5em;
    border-radius: 0.3em;
    border: 1px solid #CCC;
}
form button[type="submit"]{
    margin-bottom: 0;
    background: #28d;
    color: #FFF;
    border: none;
    padding:8px 25px;
    border-radius: 0.3em;
}

table{
    margin: 0 auto;
    width: calc(700px + (1em * 2));
    border-collapse: collapse;
    text-align: center;
    /* add margin */
    margin-top: 1em;
    /* set font family to some nice font */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
table tr:nth-child(odd){
    background: #CCC;
}
table tr:nth-child(even){
    background: #FFF;
}
table th{
    background: #28d;
    color: #FFF;
    padding: 0.5em;
}
table td{
    padding: 0.5em;
}
.progress-bar{
    /* style this as a nice looking progress bar */
    width: 700px;
    height: 20px;
    background: #CCC;
    border-radius: 0.3em;
    margin: 0 auto;
    margin-top: 1em;

}
.progress-bar div{
    height: 100%;
    background: #28d;
    border-radius: 0.3em;
    width: 0;
    transition: width 0.5s ease-in-out;
}
.progress-bar span{
    color: #FFF;
    font-weight: bold;
    position: relative;
    top: -2em;
    background-color: #28d;
    border-radius: 0.3em;
    padding: 0.5em;
}
.progress_bar_statitics{
    display:flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin:  0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
.progress_bar_statitics h2{
    text-align: center;
    margin-bottom: 50px;
    margin-top:20px;
    display: block;
}
@media screen and (max-width: 800px){
    form, table{
        width: 95%;
        /* display: flex; */
        flex-direction: column;
        overflow: auto;
        font-size: 12px;
    }

#add-finances{
    display: flex;
    flex-direction: column;
    width: 90%;
    box-sizing: border-box;
}
.progress_bar_statitics{
    width: 90%;
}
.progress-bar{
    width: 100%;
}
.finances-table_wrap{
    overflow: auto;
    padding: 1em;
}
}